<div>
    <!--HomeController: {{HomeCtrl.hello}}-->

    <h3>Tagline about visualizing police data and capturing all voices from the community.</h3>

    <div class="bi flex-container">
        <div class="flex-item">Check Local Data Sets Box</div>
        <div class="flex-item">Share Your Experience Box</div>
    </div>

    <div class="tri-two flex-container">
        <div class="flex-item">About Open Data Text</div>
        <div class="flex-item">Image Box</div>
    </div>

    <div class="tri-one flex-container">
        <div class="flex-item">Image Box</div>
        <div class="flex-item">Why...Open Data Text</div>
    </div>

    <div class="tri-two flex-container">
        <div class="flex-item">How to Use Open Data Text</div>
        <div class="flex-item">Image Box</div>
    </div>

    <h3>Tagline wrapping up what, why and how encouraging call to action for users.</h3>

    <div class="tri flex-container">
        <div class="flex-item">Box</div>
        <div class="flex-item">Box</div>
        <div class="flex-item">Box</div>
    </div>

</div>